<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="ADG: Apple Developers Group
    is a free initiative to assist developers in higher education
    institution (VIT), who intend to teach development for the
    iPhone, iPad and iPod Touch.This student body allows
    developers to create teams of up to 200 members who can
    develop, test, debug and distribute applications via the
    App Store giving them complete access to developer
    tools, including iPhone SDK and
    iPhone Dev Centre resources." />
    <title>App-A-Thon 2k18</title>
    
    <link rel="shortcut icon" href="/img/adg-logo.png">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/review.css">
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="row" style="padding-top: 28px;">
                <div class="col s12 m5">
                    <img src="/img/appathon.png" class="responsive-img" alt="">
                </div>

                <div class="col s12 m5 offset-m1 hide-on-small-only">
                    <h2 style="text-align: right;">Marking Portal</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="mainCard" id="mainCard1">
        <div class="container mainCardContainer">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content innerCard">
                            <div class="row">
                                <div class="col s12 m6">
                                    <h1 class="step"><b>STEP 2</b></h1>
                                    <h5 class="step between"><b>Team Review</b></h5>
                                </div>

                                <div class="col m4 offset-m2 hide-on-small-only" style="text-align: right;">
                                    <img src="/img/fullicon.webp" class="responsive-img ninety" alt="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m4">
                                    <div class="card hoverable">
                                        <div class="card-content cardPad">
                                            
                                            <span class="card-title">Register Number</span>
                                            <h5 class="center-align innerDetailCard fixFont">Name 1</h5>
                                            
                                            

                                        </div>
                                    </div>
                                </div>

                                <div class="col s12 m4">
                                    <div class="card hoverable">
                                        <div class="card-content cardPad">
                                            
                                            <span class="card-title">Register Number</span>
                                            <h5 class="center-align innerDetailCard fixFont">Name 2</h5>
                                            <p class="done">{{done}}</p>
                                            

                                        </div>
                                    </div>
                                </div>

                                <div class="col s12 m4">
                                    <div class="card hoverable">
                                        <div class="card-content cardPad">
                                            
                                            <span class="card-title">Register Number</span>
                                            <h5 class="center-align innerDetailCard fixFont">Name 3</h5>
                                            
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col s12 m12">
                                    <div class="card hoverable">
                                        <div class="card-content innerDetailCard">
                                            
                                            <h2 style="margin: 0;">Project Details</h2>
                                            
                                            <br>
                                            <div class="container">
                                                <h4>Product Name</h4>
                                                <p class="underline">Name 1</p>

                                                <h4>Platform</h4>
                                                <p class="underline">Android</p>

                                                <h4>Description</h4>
                                                <p class="underline" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                    Nulla imperdiet erat ut erat iaculis, sit amet molestie mauris fringilla. 
                                                    Nulla dignissim consectetur maximus. Vivamus quam lacus, sagittis fermentum 
                                                    mattis vitae, malesuada accumsan ligula. Mauris ac iaculis nibh, at ultricies 
                                                    neque. Cras blandit arcu dolor, ac egestas dolor interdum at. Nunc sit amet 
                                                    viverra sem. Etiam porttitor non nunc vitae cursus. Nulla convallis pulvinar nibh, 
                                                    id fermentum ligula tempor vel.</p>

                                                <h4>Project Links</h4>
                                                <p class="underline">https://github.com/MadhavBahlMD</p>

                                                <br>
                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="footerBtw">
        <div class="container">
            
        </div>
    </div>


    <div class="mainCard" id="mainCard2">
        <div class="container mainCardContainer">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content innerCard">
                            <div class="row">
                                <div class="col s12 m6">
                                    <h1 class="step"><b>STEP 3</b></h1>
                                    <h5 class="step between"><b>Marks Distribution</b></h5>
                                </div>

                                <div class="col m4 offset-m2 hide-on-small-only" style="text-align: right;">
                                    <img src="/img/fullicon.webp" class="responsive-img ninety" alt="">
                                </div>
                            </div>

                            <br>

                            <form action="/save/{{team}}" method="POST">
                                <div class="row">
                                    {{!-- Enter Marks For First Criteria --}}
                                    <div class="col s12 m12">
                                        <div class="card hoverable">
                                            <div class="card-content innerDetailCard">
                                                
                                                <h5 style="">1. First Criteria</h5>
                                                
                                                <div class="container marksContainier">
                                                    
                                                    <div class="row">
                                                        <div class="col s12 m6 align-left">
                                                            <span class="dotted-underline" style="font-size: 18px;">Max Marks: 10</span>
                                                        </div>
                                                        <div class="col s12 m4 align-right" id="marks">
                                                            <span style="font-size: 18px;">Marks Awarded: </span>
                                                        </div>
                                                        <div class="col s12 m2 input-field align-center active" style="text-align: center;">
                                                            <input placeholder="Eg. 9" id="mark1" name="marks1" style="text-align: center; validate" type="text" >
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {{!-- Enter Marks For Second Criteria --}}
                                    <div class="col s12 m12">
                                        <div class="card hoverable">
                                            <div class="card-content innerDetailCard">
                                                
                                                <h5 style="">2. Second Criteria</h5>
                                                
                                                <div class="container marksContainier">
                                                    
                                                    <div class="row">
                                                        <div class="col s12 m6 align-left">
                                                            <span class="dotted-underline" style="font-size: 18px;">Max Marks: 10</span>
                                                        </div>
                                                        <div class="col s12 m4 align-right" id="marks">
                                                            <span style="font-size: 18px;">Marks Awarded: </span>
                                                        </div>
                                                        <div class="col s12 m2 input-field align-center" style="text-align: center;">
                                                            <input placeholder="Eg. 9" name="marks2" style="text-align: center;" type="text" >
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{!-- Enter Marks For Third Criteria --}}
                                    <div class="col s12 m12">
                                        <div class="card hoverable">
                                            <div class="card-content innerDetailCard">
                                                
                                                <h5 style="">3. Third Criteria</h5>
                                                
                                                <div class="container marksContainier">
                                                    
                                                    <div class="row">
                                                        <div class="col s12 m6 align-left">
                                                            <span class="dotted-underline" style="font-size: 18px;">Max Marks: 10</span>
                                                        </div>
                                                        <div class="col s12 m4 align-right" id="marks">
                                                            <span style="font-size: 18px;">Marks Awarded: </span>
                                                        </div>
                                                        <div class="col s12 m2 input-field align-center" style="text-align: center;">
                                                            <input placeholder="Eg. 9" name="marks3" style="text-align: center;" type="text" >
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {{!-- Additional Comments --}}
                                    <div class="col s12 m12">
                                        <div class="card hoverable">
                                            <div class="card-content innerDetailCard">
                                                
                                                <h5 style="">Additional Comments</h5>
                                                
                                                <div class="container marksContainier">
                                                    
                                                    <div class="row">
                                                        <br>
                                                        <div class="col s12 m12 input-field align-center" style="text-align: center;">
                                                            <input placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor " name="marks3" style="text-align: center;" type="text" >
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col s12 m12 align-center center">
                                        <br>
                                        <button class="btn waves-effect waves-light btn-large align-center" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/activeCards.js"></script>
</body>
</html>